#huge {
  font-size: 20vh;
  padding: 0 0 2px 5px;
  font-weight: 600;
  margin-bottom: 100%;
  text-align: left;
}

#phat {
  font-size: 10vh;
  white-space: nowrap;
  font-weight: 600;
  font-family: 'Syncopate', sans-serif;
  text-shadow: none;
  text-align: left;
  padding: 10vh 0 20vh 0;
}

#splash {
  font-size: 8vh;
  color: #efa439;
  white-space: nowrap;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Syncopate', sans-serif;
  text-shadow: none;
  text-align: left;
  padding: 10vh 0 20vh 0;
}

#small {
  color: #ffffff;
  margin-bottom: 8px;
  font-size: 6vh;  
  font-weight: 500;
  font-family: 'Syncopate', sans-serif;
}

#tiny {
  color: #ffffff;
  font-size: 5vh;  
  font-weight: 400;
  text-align: right;
}

#silver{
  color: #d0d6e0;
  margin-bottom: 3px;
  padding-top: 32px;
  font-weight: 300;
  font-family: 'Condensed', sans-serif;
  text-shadow: none;
  font-size: 9vh;  
  text-align: justify;
  word-spacing: inherit;
  letter-spacing: inherit;
  text-justify: inter-word;
  vertical-align: baseline;
}
